AddType application/javascript .js
AddType application/javascript .mjs
AddType text/javascript .js
AddType text/javascript .mjs

<Files "*.js">
    Header set Content-Type "application/javascript"
</Files>

<Files "*.mjs">
    Header set Content-Type "application/javascript"
</Files> 